<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Import Data Transaksi Dari GDrive</h4>
        <p class="card-description"> Fill the form below. </p>
        <%= form_tag  do_import_data_cash_transactions_path do  %>
          <div class="form-group">
            <%= label_tag :bulan %>
            <%= select_tag :month, options_for_select(UserContribution::MONTHNAMES, @month_selected), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <div class="form-group">
            <%= label_tag :tahun %>
            <%= select_tag :year, options_for_select((2020..2050).to_a, @year_selected), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <div class="form-group">
            <%= label_tag :jenis_transaksi %>
            <%= select_tag :transaction_type, options_for_select(CashTransaction::TYPE), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <%= submit_tag "Process" %>
        <% end %>
      </div>
    </div>
  </div>
</div>