<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <h4 class="card-title mb-sm-0">Daftar Transaksi Template</h4>
          <% if current_user.is_admin? %>
            <a href="<%= new_template_transaction_path %>" class="btn btn-primary ml-auto mb-3 mb-sm-0"> Buat Template Baru</a>
          <% end %>
        </div>
        <div id="content-data">
          <div class="table-responsive border rounded p-1">
            <table class="table table-hover" id="table-content">
              <thead>
              <tr>
                <th class="font-weight-bold">No</th>
                <th class="font-weight-bold">Description</th>
                <th class="font-weight-bold">Transaction Type</th>
                <th class="font-weight-bold">Transaction Group</th>
                <th class="font-weight-bold">Amount</th>
                <th class="font-weight-bold">Active</th>
                <th class="font-weight-bold">Actions</th>
              </tr>
              </thead>
              <tbody>
              <% cur_page = @pagy.page %>
              <% @template_transactions.each_with_index do |template_transaction, i| %>
                <tr>
                  <td><%= (i + 1) + ((@pagy.page - 1) * @pagy.items) %> </td>
                  <td><%= template_transaction.description %></td>
                  <td><%= template_transaction.transaction_type %></td>
                  <td><%= template_transaction.transaction_group %></td>
                  <td><%= number_to_currency(template_transaction.amount, unit: "Rp. ", separator: ",", delimiter: ".") %></td>
                  <td><%= template_transaction.active %></td>
                  <td>
                    <%= link_to 'Lihat', template_transaction, class: 'btn-sm btn-success' %>
                    <%= link_to 'Ubah', edit_template_transaction_path(template_transaction), class: 'btn-sm btn-info'  if current_user.is_admin? %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <div class="d-flex mt-4 flex-wrap">
            <p class="text-muted">Showing <%= pagy_info(@pagy) %></p>
            <%== pagy_nav(@pagy) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
