<%= form_for(address) do |f| %>
  <%= errors_for(address) %>
  <div class="form-group">
    <%= f.label :block_address %>
    <%= f.text_field :block_address, autofocus: true, class: 'form-control', placeholder: 'Blok' %>
  </div>

  <div class="form-group">
    <%= f.label :iuran %>
    <%= f.number_field :contribution, class: 'form-control', placeholder: 'Besar Iuran' %>
  </div>

  <div class="form-group">
    <%= f.label :tunggakan %>
    <%= f.number_field :arrears, class: 'form-control', placeholder: 'Tunggakan' %>
  </div>

  <div class="form-group">
    <%= f.label :free %>
    <%= f.check_box :free %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary mr-2' %>
  <%= link_to 'Cancel', users_path, class: 'btn btn-light' %>
<% end %>
