<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Import Data Tagihan Transfer Dari GDrive</h4>
        <p class="card-description"> Fill the form below. </p>
        <%= form_tag  do_import_data_transfer_user_contributions_path do  %>
          <div class="form-group">
            <%= label_tag :bulan %>
            <%= select_tag :month, options_for_select(UserContribution::MONTHNAMES, @month_selected), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <div class="form-group">
            <%= label_tag :tahun %>
            <%= select_tag :year, options_for_select((2020..2050).to_a, @year_selected), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <div class="form-group">
            <%= label_tag :penanggung_jawab %>
            <%= select_tag :receiver_id, options_for_select(User.where(:role => 3).collect {|p| [ p.name.try(:upcase), p.id ] }, current_user.id), class: 'form-control mb-2 mr-sm-2' %>
          </div>
          <div class="form-group">
            <%= label_tag :tanggal_transaksi %>
            <%= text_field_tag :transaction_date, Date.today, class: 'form-control mb-2 mr-sm-2 date-picker' %>
          </div>
          <%= submit_tag "Process" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    var date_input=$('.date-picker'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
      format: 'yyyy-mm-dd',
      container: container,
      todayHighlight: true,
      autoclose: true,
    })
  })
</script>
