<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-sm-flex align-items-center mb-4">
          <% if current_user.is_admin? %>
            <a href="<%= new_user_contribution_path %>" class="btn btn-primary ml-auto mb-3 mb-sm-0"> Bayar Iuran</a>
            <a href="<%= import_data_user_contributions_path %>" class="btn btn-primary ml-2 mb-3 mb-sm-0"> Import Data Iuran</a>
            <a href="<%= import_data_transfer_user_contributions_path %>" class="btn btn-primary ml-2 mb-3 mb-sm-0"> Import Data Iuran Transfer</a>
            <a href="<%= generate_tagihan_user_contributions_path %>" class="btn btn-primary ml-2 mb-3 mb-sm-0"> Generate Data Iuran</a>
          <% end %>
        </div>
        <%= form_tag(search_user_contributions_path, remote:true, class: 'form-inline ajax-form-request') do |f| %>
          <%= label_tag :tahun, nil, class: 'mb-2 mr-sm-2' %>
          <%= select_tag :year_eq, options_for_select((2020..2050).to_a, @year_selected), class: 'form-control mb-2 mr-sm-2' %>
          <%= label_tag :blok, nil, class: 'mb-2 mr-sm-2' %>
          <%= select_tag :block_address_eq, options_for_select(Address.pluck('block_address')), include_blank: "All", class: 'form-control mb-2 mr-sm-2' %>
          <%= submit_tag "Search", class: 'form-control btn btn-primary mb-2 mr-sm-2' %>
        <% end %>
        <br />
        <h4 class="card-title mb-sm-0 text-center">Daftar Iuran Warga Tahun <span id='year-selected'><%= @year_selected %></span></h4>
        <br />
        <div id="content-data">
          <%= render partial: 'data' %>
        </div>
      </div>
    </div>
  </div>
</div>

